.head{
    color:red;
}

.bigbox_img_main{
    width: 90%;
    margin: auto;
    margin-top: 5rem;

}
.bigbox_img_main>h1{
    font-size: 36px;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    margin-bottom: 25px;
    color: #000000;
    text-align: left;
    font-weight: 600;
}


.bigbox_img_cont{
    display: flex;
    justify-content: space-between;

}
.bigbox_img_cont>div{
    width: 32.5%;
}
.bigbox_img_cont>div>img{
    width: 100%;
}


@media only screen and (min-width: 500px) and (max-width: 768px) {
    .bigbox_img_main>h1{
    font-size: 25px;
    font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
    margin-bottom: 25px;
    color: #000000;
    text-align: left;
    margin-left: 18px;
}

  }
  /* ==========================================Small Screen============================================================= */
  @media only screen and (min-width: 320px) and (max-width: 499px) {
    .bigbox_img_cont{
        display: grid;
    }
    .bigbox_img_cont>div{
        grid-template-columns: repeat(1,1fr);
        width:90%;
        margin: auto;

    }
    .bigbox_img_cont>div>img{
        width: 100%;
    }
    .bigbox_img_main>h1{
        font-size: 20px;
        font-family: ProximaNova-Regular,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji";
        margin-bottom: 25px;
        color: #000000;
        text-align: left;
        margin-left: 18px;
        font-weight: 600;
    }

  }